# Laravel
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/.env
/.env.backup
/.phpunit.result.cache
/docker-compose.override.yml
!/docker/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Docker
docker-compose.override.yml

# IDE
/.idea
/.vscode

# Системные файлы
.DS_Store
Thumbs.db

# Дополнительные
/.vagrant
/coverage



# Логи
*.log

# Фронтенд
/public/js/
/public/css/
/public/mix-manifest.json
